
<nav>
    <a href="/fr"><button>Retour</button></a>
</nav>

<h1>Mon Espace</h1>

<h2>👩</h2>

<ul>
    <li>
        <p>{{myspaceItem.firstName}}</p>
        <p>{{myspaceItem.lastName}}</p>
        <p>Pseudo : {{myspaceItem.pseudo}}</p>
        <p>E-mail : {{myspaceItem.email}}</p>
        <p>Description : {{myspaceItem.description}}</p>
    </li>
</ul>