
<nav>
    <header>
    <nav>
<div class="dropdown">
  <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Menu
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <a href="/fr"><button class="dropdown-item" type="button">Page d'accueil</button></a>
    <a href="/fr/authors-list"><button class="dropdown-item" type="button">Auteur.e.s</button></a>
    <a href="/fr/texts-list"><button class="dropdown-item" type="button">Textes</button></a>
    <a href="/"><button class="dropdown-item" type="button">Changer de langue</button></a>
  </div>
</div>

    </nav>
</header>
</nav>


<h1>Mon Espace</h1>

<h2>👩 / 🧔</h2>

<ul>
    <li>
        <p><b>Prénom : </b>{{myspaceItem.firstName}}</p>
        <p><b>Nom : </b>{{myspaceItem.lastName}}</p>
        <p><b>Pseudo : </b>{{myspaceItem.pseudo}}</p>
        <p><b>E-mail : </b>{{myspaceItem.email}}</p>
        <p><b>Description : </b>{{myspaceItem.description}}</p>
    </li>
</ul>

